﻿@model BrickCalendarUiApi.Models.CalendarHTML
<!DOCTYPE html>
<html>
<head>
    @if (Model != null && string.IsNullOrEmpty(Model.IsWiki))
    {
        <link rel="stylesheet" type="text/css" href="../../media/css/brickcalendar.css">
    }
    <link rel="icon" href="../favicon.png">
    <meta name="key" content="brick calendar"/>
    <meta name="viewport" content="width=device-width"/>
    <title>BRICK CALENDAR</title>
</head>
<body>
@if (Model == null || !string.IsNullOrEmpty(Model.IsWiki))
{
    <style type="text/css">
        
        @@font-face {
            font-family: fleetboardFontBold;
            src: url(https://wiki.fleetboard.net/download/attachments/180236302/Aero-Bold.otf?api=v2);
        }

        @@font-face {
            font-family: fleetboardFontBook;
            src: url(https://wiki.fleetboard.net/download/attachments/180236302/Aero-Book.otf?api=v2);
        }

        #main {
            background: #dff2fb url("https://wiki.fleetboard.net/download/attachments/180236302/spiderman.png?api=v2") no-repeat right top;
            background-size: 33%;
            background-attachment: fixed;
        }

        #brick-calendar-body {
            margin: 0;
            padding: 0;
            font-family: fleetboardFontBook;
            min-width: 600px;
            width: 100%;
            font-size: 140%;
        }

        table {
            margin: 50px 0;
            padding: 0;
            color: #3f556d;
            width: 100%;
            border-spacing: 0;
        }

        tr {
            margin: 0;
            padding: 0;
            height: 100%;
            vertical-align: top;
        }

        td {
            margin: 0;
            padding: 2px;
            height: 100%;
            width: 10%;
        }

        th {
            margin: 0;
            padding: 10px;
            color: #E64522;
            font-size: 2.0em;
            font-weight: normal;
        }

        .calendar-entry-container {
            height: 100%;
            background-color: rgba(231, 233, 236, 0.7);
            width: 100%;
        }

        .calendar-entry-container-pre {
            height: 100%;
            background-color: rgba(159, 170, 182, 0.7);
            width: 100%;
        }

        .day-header {
            color: #E64522;
            padding: 6px;
            font-size: 1.1em;
        }

        .day-name {
            font-size: 0.5em;
            float: right
        }

        .day-id { float: left; }

        .day-body {
            font-size: 0.65em;
            min-height: 115px;
        }

        .marker {
            margin: 0 0 0 0;
            width: 103%;
            margin-left: -1%;
        }

        .marker-container { padding: 2px 0; }

        .marker#red { background-color: rgba(255, 0, 0, 0.2); }

        .marker#yellow { background-color: rgba(255, 255, 0, 0.2); }

        .marker#blue { background-color: rgba(0, 0, 255, 0.2); }

        .marker#green { background-color: rgba(0, 128, 0, 0.2); }

        #today {
            box-shadow: inset 0 0 5px red;
            font-family: fleetboardFontBold;
        }

        .appointment-left { float: left; }

        .appointment-right {
            float: right;
            height: 10px;
            width: 10px;
            margin-top: 1px;
            text-align: center;
            font-size: 0.8em;
        }

        .clear { clear: both; }

        #brick-calendar-header {
            color: #E64522;
            text-align: center;
            font-size: 3.0em;
            font-family: Arial;
            margin-top: 50px;
        }

        .appointment { padding: 2px; }

        #weekend { color: #9faab6; }

        .day-right#white {
            border: 1px solid white;
            border-radius: 3px;
        }

        .day-right#green {
            border: 1px solid green;
            border-radius: 3px;
        }

        .day-right#yellow {
            border: 1px solid yellow;
            border-radius: 3px;
        }

        .day-right#black {
            border: 1px solid black;
            border-radius: 3px;
        }

        .day-right#red {
            border: 1px solid red;
            border-radius: 3px;
        }

        .day-right#blue {
            border: 1px solid blue;
            border-radius: 3px;
        }

        #error-head {
            background-image: url("https://wiki.fleetboard.net/download/attachments/180236302/error.png?api=v2");
            width: 115px;
            height: 87px;
            margin-top: 20%;
        }
    </style>
}
<div id="brick-calendar-body" align="center">
    <div id="brick-calendar-content">
        <div id="brick-calendar-header">
            BRICK CALENDAR
        </div>
        @if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.IsWiki))
            {
                <a href="http://brickcalendarapi.fleetboard.dmz/" target="_blank">lets go to the real calendar view (fleetboard network)</a>
            }
            else
            {
                <a href="https://wiki.fleetboard.net/display/ATEAM/Server+-+HTML-Provider" target="_blank">lets have look at the wiki calendar view</a>
            }
        }

        @RenderBody()
    </div>
</div>
</body>
</html>