﻿@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div id="error-head"></div>

<div id="error-text">
    SORRY but it wasn't me...
    <br/>
    <a href="/html/index">try it again</a>
</div>

<div style="position: absolute; bottom: 0; right: 0;">...it was tobias a.</div>