﻿@model BrickCalendarUiApi.Models.CalendarHTML

@{
    Layout = "~/Views/Shared/Master.cshtml";
}

@foreach (var month in Model.Months)
{
    <table>
        <tr>
            <th colspan='7'>
                @Html.Raw(month.Name + " " + month.Year)
            </th>
        </tr>

        @for (var z = 1; z <= month.Days.Count; z++)
        {
            var day = month.Days[z - 1];
            if (z == 1 || z == 8 || z == 15 || z == 22 || z == 29)
            {
                @Html.Raw("<tr>")
            }

            <td>
                <div class='@day.IsFromPreviousMonthCss' id='@day.TodayCss'>
                    <div class='day-header' id="@day.WeekendCss">
                        <div class="day-id">
                            @day.InString
                        </div>
                        <div class="day-name">
                            @day.ShortName
                        </div>
                        <div Class="clear"></div>
                    </div>
                    <div class='day-body' id="@day.WeekendCss">
                        @foreach (var appointment in day.Appointments.OrderBy(x => x.Employee))
                        {
                            <div class="marker-container">
                                <div class="marker" id="@appointment.Detail">
                                    <div class="appointment">
                                        <div class="appointment-left">@appointment.Employee</div>
                                        <br class="clear" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </td>

            if (z == 7 || z == 14 || z == 21 || z == 28 || z == 35)
            {
                @Html.Raw("</tr>")
            }
        }
    </table>
}